@media only screen and (max-width: 915px) {
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .about-me {
        text-align: center;
        width: auto;
        height: 507px;
        padding: 0;
    }

    .about-me .description {
        margin-top: 50px;
        text-align: center;
        font-size: 20px;
    }
    
    .technologies {
        text-align: center;
        margin-top: 6rem;
        height: 40rem;
    }

    .technologies-items {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .ul-technologies-top, .ul-technologies-bottom {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }
}

@media only screen and (max-width: 890px) {
    .nav-site {
        background-color: rgba(51, 51, 51, 0.85);
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        padding: 1rem;
        transition: 0.5s;
        top: 0;
        position: fixed;
        z-index: 1;
        backdrop-filter: blur(10px);
        flex-wrap: wrap;
        flex-direction: column;
        align-content: center;
    }
}

@media only screen and (max-width: 769px) and (min-width: 767px) {
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .about-me {
        text-align: center;
        width: auto;
        height: 507px;
        padding: 0;
    }

    .about-me .description {
        margin-top: 50px;
        text-align: center;
        font-size: 20px;
    }
    
    .technologies {
        text-align: center;
        margin-top: 6rem;
        height: 40rem;
    }

    .technologies-items {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }

    .ul-technologies-top, .ul-technologies-bottom {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }
}

@media only screen and (max-width: 500px) {
    .nav-site .nav-my-name {
        margin: auto;
        margin-bottom: 1rem;
    }

    .nav-site {
        display: flex;
        justify-content: center;
        padding: 15px;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .nav-list {
        list-style: none;
        display: flex;
        gap: 10px;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .nav-site .welcome-message {
        display: none;
    }

    .main {
        display: flex;
        flex-direction: column-reverse;
    }

    .about-me {
        text-align: center;
        min-width: 355px;
        height: 450px;
        padding: 0;
    }

    .about-me .description {
        margin-top: 50px;
        text-align: center;
        font-size: 20px;
        width: 21.5rem;
    }

    .technologies {
        text-align: center;
        margin-top: 6rem;
        height: 40rem;
    }

    .technologies-items {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }

    .ul-technologies-top, .ul-technologies-bottom {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }

    .projects-cards {
        display: flex;
        gap: 1rem;
    }
} 

@media only screen and (max-width: 426px) and (min-width: 424px) {
    .main {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    
    .my-photo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-me {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* iPhone XR, XS Max */
@media only screen and (max-width: 415px) and (min-width: 413px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .nav-site .nav-my-name {
        margin: auto;
        margin-bottom: 1rem;
    }

    .nav-site {
        display: flex;
        justify-content: center;
        padding: 15px;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .nav-list {
        list-style: none;
        display: flex;
        gap: 30px;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .main {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .about-me {
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 400px;
        padding: 0;
    }

    .about-me .description {
        margin-top: 50px;
        text-align: center;
        font-size: 20px;
    }

    .technologies {
        text-align: center;
        margin-top: 6rem;
        color: #000000;
        height: 36rem;
    }

    .technologies-items {
        display: flex;
        gap: 1rem;
    }

    .ul-technologies-top, .ul-technologies-bottom {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }
}

/* Galaxy S9 Plus, S8 Plus */
@media only screen and (max-width: 413px) and (min-width: 411px) {
    .nav-site .nav-my-name {
        margin: auto;
        margin-bottom: 1rem;
    }

    .nav-site {
        display: flex;
        justify-content: center;
        padding: 15px;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .nav-list {
        list-style: none;
        display: flex;
        gap: 30px;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .main {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .my-photo {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about-me {
        text-align: center;
        height: 400px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-me .description {
        margin-top: 50px;
        text-align: center;
        font-size: 20px;
    }

    .technologies {
        text-align: center;
        margin-top: 6rem;
        height: 40rem;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    .technologies-items {
        display: flex;
        gap: 1rem;
    }

    .ul-technologies-top, .ul-technologies-bottom {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }
}

/* Pixel 3, 3 XL */
@media only screen and (max-width: 394px) and (min-width: 392px) {
    .my-photo img {
        width: 18.5rem;
    }

    .about-me {
        text-align: center;
        height: 400px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-me .description {
        margin-top: 50px;
        text-align: center;
        font-size: 1.2rem;
    }

    .technologies {
        text-align: center;
        margin-top: 2rem;
        height: 38rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .technologies-items {
        display: flex;
        gap: 0.25rem;
    }
}

/* LG Optimus L70  */
@media only screen and (max-width: 385px) and (min-width: 383px) {
    .my-photo img {
        width: 18rem;
    }

    .about-me {
        text-align: center;
        height: 400px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-me .description {
        margin-top: 50px;
        text-align: center;
        font-size: 1.2rem;
    }

    .technologies {
        text-align: center;
        margin-top: 2rem;
        height: 38rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .technologies-items {
        display: flex;
        gap: 0.25rem;
    }
}

/* iPhone XS, X */
@media only screen and (min-width: 374px) and (max-width: 376px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    .nav-site .nav-my-name {
        margin: auto;
        margin-bottom: 1rem;
    }

    .nav-site {
        display: flex;
        justify-content: center;
        padding: 10px;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: flex-start;
    }

    .nav-site .welcome-message {
        display: none;
    }

    .nav-list {
        list-style: none;
        display: flex;
        gap: 20px;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .my-photo img {
        width: 17.5rem;
    }

    .main {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .about-me {
        text-align: center;
        min-width: 20rem;
        height: 500px;
        padding: 0;
    }

    .about-me .description {
        margin-top: 50px;
        text-align: center;
        font-size: 20px;
        width: 320px;
    }

    .technologies {
        text-align: center;
        margin-top: 6rem;
        height: 38rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .technologies-items {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5rem;
    }

    .ul-technologies-top, .ul-technologies-bottom {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }

    .ul-technologies-top .technologies-element,
    .ul-technologies-bottom .technologies-element {
        margin: auto;
        text-align: center;
        height: 95px;
        width: 149px;
        align-items: center;
        display: flex;
    }

    .ul-technologies-top .technologies-element .tech-container,
    .ul-technologies-bottom .technologies-element .tech-container {
        display: flex;
        align-items: center;
        border-radius: 8px;
        padding: 6px;
        min-width: 159px;
        max-height: 87px;
        justify-content: space-between;
    }

    .projects-cards {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

/* Galaxy S9, Note 8, S8 */
@media only screen and (max-width: 361px) and (min-width: 359px) {
    .about-me {
        text-align: center;
        height: 400px;
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .about-me .description {
        margin-top: 50px;
        text-align: center;
        font-size: 1.2rem;
        width: auto;
    }

    .my-photo img {
        width: 16.5rem;
    }

    .photo-title {
        text-align: center;
        margin-top: 0.5rem;
        font-size: 1.20rem;
    }

    .technologies {
        text-align: center;
        margin-top: 4rem;
        height: 38rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .technologies-items {
        display: flex;
        gap: 0.25rem;
    }

    .ul-technologies-top, .ul-technologies-bottom {
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }

    .ul-technologies-top .technologies-element,
    .ul-technologies-bottom .technologies-element {
        margin: auto;
        text-align: center;
        height: 6rem;
        width: 10rem;
        align-items: center;
        display: flex;
    }

    .ul-technologies-top .technologies-element .tech-container,
    .ul-technologies-bottom .technologies-element .tech-container {
        display: flex;
        align-items: center;
        border-radius: 8px;
        padding: 6px;
        min-width: 159px;
        max-height: 87px;
        justify-content: space-between;
    }

} 

@media only screen and (min-width: 319px) and (max-width: 321px) {
    .main {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 0; 
    }

    .about-me {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 80%;
        height: 500px;
    }
    
    .technologies {
        text-align: center;
        margin-top: 6rem;
        height: 38rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .technologies-items {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 0.5rem;
    }
}

