/* 
#c9d612 (amarelo)
#333333 (cinza escuro)
 */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #000000;
    background-size: 100%;
    color: white;
    font-family: 'Inconsolata', monospace;
}

body::-webkit-scrollbar {
    width: 0.75rem;         
}
  
body::-webkit-scrollbar-track {
    background: #333333;        
}
  
body::-webkit-scrollbar-thumb {
    background-color: #ffffff;       
    border: 3px solid #ffffff;  
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

.nav-site {
    background-color: #333333;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.nav-my-name button {
    background-color: transparent;
    border: none;
    color: #ffffff;
    font-weight: bold;
    cursor: pointer;
    width: 10rem;
    height: 2rem;
    transition: 0.5s;
    font-size: 1rem;
}

.nav-link {
    color: #ffffff;
    font-weight: bold;
    text-align: center;
}

.nav-list {
    list-style: none;
    display: flex;
    gap: 0.5rem;
}

.nav-item:hover {
    background-color: #000000;
    border-radius: 0.5rem;
    transition: 0.5s;
}

.nav-item .nav-link button {
    background-color: transparent;
    border: none;
    color: #fffffe;
    font-weight: bold;
    cursor: pointer;
    width: 8rem;
    height: 2rem;
    transition: 0.5s;
    font-size: 1rem;
}

.nav-item .nav-link button:hover {
    color: #c9d612;
    transition: 0.5s;
}

.nav-my-name button:hover {
    color: #c9d612;
    background-color: #000000;
    border-radius: 0.5rem;
    transition: 0.5s;
}

.nav-link:hover {
    color: #c9d612;
    transition: 0.5s;
}

.main {
    display: flex;
    padding: 3rem;
    justify-content: center;
    align-items: center;
    background-size: 100%;
    margin-top: 8rem;
}

.about-me {
    text-align: center;
    max-width: 60%;
    padding: 6rem;
}

.about-me .description {
    text-align: center;
    color: #ffffff;
    font-size: 1.30rem;
}

.my-photo {
    margin: auto;
}

.my-photo img {
    border-radius: 50%;
    width: 20rem;
    border: 3px solid #ffffff; 
}

.photo-title {
    text-align: center;
    margin-top: 2rem;
    font-size: 1.50rem;
}

.technologies {
    text-align: center;
    margin-top: 10rem;
    background-color: #333333;
    color: #ffffff;
    height: 22rem;
}

.technologies h2 {
    margin-bottom: 3rem;
    font-weight: 900;
}

.ul-technologies-top {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ul-technologies-bottom {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
}

.ul-technologies-top .technologies-element,
.ul-technologies-bottom .technologies-element {
    margin: auto;
    text-align: center;
    height: 6rem;
    width: 11rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ul-technologies-top .technologies-element .tech-container,
.ul-technologies-bottom .technologies-element .tech-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #000000;
    border-radius: 0.75rem;
    color: #ffffff;
    padding: 0.5rem;
    min-width: 11rem;
    max-height: 5.5rem;
}

.ul-technologies-top li img,
.ul-technologies-bottom li img {
    margin-top: 0.25rem;
    height: 4rem;
    width: 4rem;
}

.projects {
    margin-top: 10rem;
}

.projects h2 {
    text-align: center;
    color: #ffffff;
    font-weight: 900;
    margin-bottom: 2rem;
}

.projects-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}

.projects .project-container {
    background-color: #333333;
    width: 18.75rem;
    border-radius: 0.75rem;
    padding: 0.5rem;
    margin-bottom: 10px;
    transition: 0.4s;
}

.project-title {
    color: #ffffff;
    text-align: center;
}

.project-img {
    text-align: center;
    margin-top: 1.25rem;
}

.projects img {
    width: 17rem;
    border-radius: 0.5rem;
    transition: 0.4s;
}

/* .projects img:hover {
    Olhar como deixar essa caixa por cima da tela
} */

.project-description {
    text-align: center;
    margin-top: 0.5rem;
    color: #ffffff;
    font-weight: 900;
    margin-bottom: 1.25rem;
}

.project-list {
    list-style: square;
    margin-left: 1.25rem;
    color: #ffffff;
    font-weight: 900;
}

.project-technologies h3 {
    color: #ffffff;
    font-weight: 900;
    margin-bottom: 1rem;
}

.project-list .project-element {
    margin: auto;
}

.project-link {
    text-align: center; 
    margin-top: 1.25rem;
}

.project-link a button {
    width: 100px;
    height: 30px;
    border-radius: 6px;
    background-color: transparent;
    border: 1px solid #000000;
    font-weight: 600;
    color: #ffffff;
}

.project-link a button:hover {
    width: 100px;
    height: 30px;
    border-radius: 6px;
    cursor: pointer;
    background-color: #000000;
    color: #c9d612;
    transition: 0.5s;
}

/* .university {
    border: 1px solid red;
    margin-top: 50px;
    text-align: center;
} */

.contact {
    border: 1px solid black;
    margin-top: 50px;
    height: 200px;
    text-align: center;
    background-color: #333333;
}

.contact img {
    margin-top: 30px;
}

.contact .contact-title {
    color: #ffffff;
    margin-top: 50px;
}

/* Animation */

.main {
    animation: Padrao .7s .2s backwards;
}

[data-animation] {
    opacity: 0;
    transition: .5s;
}

[data-animation="center"] {
    transform: translate3d(0, 50px, 0);
}

[data-animation].animation {
    opacity: 1;
    transform: translate3d(0,0,0);
}

@keyframes Padrao {
    from {
        opacity: 0;
        transform: translateY(30px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}