body::-webkit-scrollbar {
    width: 0.75rem;         
}
  
body::-webkit-scrollbar-track {
    background-color: $secundary-color;       
}
  
body::-webkit-scrollbar-thumb {
    background-color: $color-test3;       
    border: 3px solid $color-test3;  
}

.header {
    font-size: 16px;
    font-weight: bold;
}

#header {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid $color-test3;
    // position: fixed;
    // z-index: 1;
    // backdrop-filter: blur(10px);
}

#nav-link {
    transition: 0.5s;

    &:hover {
        color: $color-test3;
        border-bottom: 1px solid $color-test3;
    }
}


// #header--scrolled {
//     background-color: rgba(51, 51, 51, 0.95); 
//     backdrop-filter: blur(20px); 
// }

.logoPc {
    width: 400px;
    color: white;
}

.container00 {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
}

.gifHello {
    width: 480px;
}

.conteudoInicial {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.arrowDown {
    display: inline-block;
    width: 90px;
    margin-top: 5px;
}

@media (max-width: 991px) {
    .conteudoInicial {
        align-items: center;
        justify-content: center;
        margin-top: 80px;
    }

    .gifHello {
        width: 380px;
    }
}

@media (max-width: 528px) {
    #logoPc {
        width: auto;
        margin-right: 10px;
    }
}