.ancor {
    text-decoration: none;
}

.container00 {
    &.container01 {
        background-color: $primary-color;
    }

    &.container02 {
        background-color: $secundary-color;

        .aboutSection {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 100vh;
        
            .description {
                display: flex;
                flex-direction: column;
                gap: 30px;
            }
        
            .largeTitle {
                width: 580px;
            
                strong {
                    color: $color-test3;
                }
            }
            
            .my-photo {
                border-radius: 100%;
                border: 4px solid $color-test3;
                width: 350px;
            }
            
            .my-photo-description {
                text-align: center;
                color: $color-test3;
                margin-top: 10px;
            }
        }
    }

    &.container03 {
        background-color: $primary-color;
    }

    &.container04 {
        background-color: $secundary-color;

        .carrosselSlide {
            height: 90vh;

            .cardProject {
                background-color: $primary-color;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                height: 80vh;
                box-shadow: inset;
                border-radius: 8px;

                .titleProject {
                    text-align: center;
                    margin: 10px 0;
                }

                .imgProject {
                    margin: 10px 0;
                    width: 40%;
                    border-radius: 8px;
                }

                .descriptionProject {
                    margin: 10px 0;
                    text-align: center;
                    width: 70%;
                }

                .technologiesProject {
                    margin: 10px 0;
                    display: flex;
                    gap: 20px;
                    text-decoration: none;
                    list-style: none;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                }

                .btnProject {
                    margin: 10px 0;
                    display: flex;
                    gap: 6px;
                    
                    .btn {
                        width: 150px;
                        text-align: center;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        gap: 10px;

                        a {
                            text-decoration: none;
                            color: white;
                        }
                    }
                }
            }
        }
    }

    &.container05 {
        background-color: $primary-color;
    }
}

.footer {
    background-color: $secundary-color;
    height: 15vh;
    font-size: 16px;
    font-weight: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;

    .btn {
        padding: 10px;
        margin-right: 5px;
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
    }

    a {
        text-decoration: none;
        color: white;
        &:hover {
            color: white;
        }
    }

    .copyGabriel {
        color: white;
    }
}

@media (max-width: 991px) {

    #about-me {
        text-align: center;
        width: 100%;
        height: 100vh;
    
        #description {
            display: flex;
            flex-direction: column;
            gap: 20px;
            width: 100%;
        }

        #launchComing {
            width: 100%;
        }

        #my-photo {
            width: 200px;
        }

        #photo-description-section {
            margin: auto;
        }

        #my-photo-description {
            margin-top: 0;
        }
    }
}

@media (max-width: 680px) {
    .footer {
        flex-direction: column;
        height: auto;
        gap: 10px;

        .copyGabriel {
            margin-top: 10px;
        }
        
        .last-btn {
            margin-bottom: 10px;
        }
    }
}

@media (max-width: 515px) {
    #launchComing {
        font-size: 16px;
    }
}

@media (max-width: 348px) {
    #launchComing {
        font-size: 14px;
    }
}